h1 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 46px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }



*{
    /* border: 2px solid green; */
    padding: 0px;
}
#container {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color:#fff;

}
#statement {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    bottom: 0px; 
    justify-content: center;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1em;
    color: #706f6f;
}
.nav{
    /* position: absolute; */
    
    /* display:  fixed; */
    display: flex;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color:#fff;
    padding: 2em 2em;
    margin-bottom: 2em;
}

.nav button{
    padding: .5em;
    border-radius: 20px 20px 20px 20px;
    background-color: #fff;
    border: 2px solid #868686; 
    min-width: 400px;
    margin: .5em;
    color: #868686;
    text-decoration: none;
    font-size: 1.5em;
    cursor: pointer;
}
.buttonSubText {
    font-size: .75em;
}
.nav button:hover{
    background-color:#f9b775;
    color: #ffffff;
    box-shadow: -8px -6px 15px -10px rgba(0, 0, 0, 0.498);/* , inset -13px -14px 7px -4px rgba(255, 255, 255, 0.574); */
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99;
    padding-top: 1em;
    /* border: 2px dotted blue; */
    /* background: url('./assets/Blue_loading_circle.gif') center center no-repeat; */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem 1.5rem;
    /* width: 24rem; */
    width: 90vw;
    height: 80vh;
    min-width: 650px;
    min-height: fit-content;
    /* border-radius: 0.5rem; */
    border-radius: 0px 40px 0px 40px;
    box-shadow: 10px 10px 10px rgb(34, 40, 40);
    /* background: url('./assets/Blue_loading_circle.gif') center center no-repeat; */

}


.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #fff;
    border-color: #868686;
    padding-bottom: .25em;
    /* z-index: 999; */
}

.close-button:hover {
    border-color: #868686;
    background-color: #868686;
    color: #fff;
    
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.frame-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90vw;
    min-width: fit-content;
    min-height: fit-content;
    overflow: none;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background: url('./assets/Blue_loading_circle.gif') center center no-repeat;
    border-radius: 0px 40px 0px 40px;
}
.infoButton{
    z-index: 999;
    position: absolute;
    right: 0px;
    bottom: 0px;
    justify-content: center;
    margin: auto;
    border: none;
    opacity: .4;
    border-radius: 80% 80%;
    z-index: 999;
    cursor: pointer;
    margin: 5px;
}

.show-infoButton{
    visibility: visible;
}
.infoButton:hover {
    opacity: .8;
    
}   
.infoButton img{
    background-color: rgba(255, 255, 255, 0);
    /* background-color: blue; */
}
.blink {
    animation: blinker 2s linear infinite;
}


@-moz-keyframes blinker {  
    0% { opacity: 0.8; }
    50% { opacity: 0.4; }
    100% { opacity: 0.8; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 0.8; }
    50% { opacity: 0.4; }
    100% { opacity: 0.8; }
}

@keyframes blinker {  
    0% { opacity: 0.8; }
    50% { opacity: 0.4; }
    100% { opacity: 0.8; }
}
/* .trigger{ 
    z-index: 998; 
} */
/*************
Info Modal
*****************/
.infoModal {
    position: relative;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    /* background-color: rgba(186, 243, 222, 0.5); */
    opacity: 1;
    visibility: hidden;
    /* transform: scale(1.1); */
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 100;
    padding-top: 1em;
    display: hidden;
    overflow: scroll;
}
.closeWrapper{
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
}
.infoModal-content {
    /* position: absolute; */
    width: 90vw;
    height: 90vh;
    border-radius: 0.5rem;
    overflow: scroll;
}

.infoClose-button {
    position: absolute;
    top: 1.5em; 
    left: 14em; 
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 80%;
    padding: .25rem;
    color: #fff;
    background-color:#9f9f9f;
    border: 2px solid #868686;
    box-shadow: 1px 1px 5px 1px rgb(96, 96, 96);
}

.infoClose-button:hover {
    border-color: #000;
    background-color: #868686;
    color: #000;   
}

.show-infoModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.infoModal content{
    /* transform: scale(.50); */
}
.actualInfo{
        
        /* position: relative; */
        width: 60vw;
        height: 60vh;
        margin: auto;
        top: 10%;
        border: .5em dashed rgb(96, 227, 253); 
        z-index: 1001;
        overflow: scroll;
        background-color: rgba(255, 255, 255, 0.93); 
        color: #4c4c4c;
        border-radius: 0px 40px 0px 40px;
        padding: 1em;
        box-shadow: 2px 2px 20px 5px rgb(129, 149, 195);
    }

.actualInfo h1,h2,h3,p{
    text-align: center;
}

.infoHeader h1{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(96, 227, 253);
    /* -webkit-text-stroke: 1px rgb(96, 227, 253); */
} 
.infoHeader h2{
    /* color: rgb(255, 255, 255); */
    -webkit-text-stroke: 1px rgb(81, 81, 81);
    /* background-color: #fff; */
    width:100%;
} 
.infoHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */
    /* top: 0; */
    padding-top: -2em;
    padding-bottom: 1em;
    height: fit-content;
    width: 100%;
    border-radius: 0px 40px 0px 0px;
    /* background-color:rgb(218, 246, 251); */
    background: rgb(199,255,250);
    background: linear-gradient(-180deg, rgba(199,255,250,0.9304315476190477) 0%, rgba(255,255,255,0) 100%);
    border: 2px solid rgb(96, 227, 253); 
    /* box-shadow: 2px 2px 10px 5px rgba(119, 126, 142, 0.485); */
    align-items:center;
    border-bottom: 0;
}
h3{
    color:rgb(0, 0, 0);
}
ol{
    margin: auto;
    padding: 5px;
    width: 70%;
}

 a{
    text-decoration: none;
    color:#868686;
}
a:hover{
    text-decoration: underline;
}
li{
    text-align: center;
    padding: 5px;
}
#description{
    margin: auto;
    width: 70%;
}