*{
    /* border: 2px solid green; */
    padding: 0px;
}
#container {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color:#fff;

}
#statement {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    bottom: 0px; 
    justify-content: center;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1em;
    color: #706f6f;
}
.nav{
    /* position: absolute; */
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color:#fff;
    padding: 1em;
}

.nav button{
    padding: .5em;
    border-radius: 20px 20px 20px 20px;
    background-color: #fff;
    border: 2px solid #868686; 
    margin: .5em;
    color: #868686;
    text-decoration: none;
    font-size: 1.5em;
    cursor: pointer;
}
.buttonSubText {
    font-size: .75em;
}
.nav button:hover{
    background-color:#f9b775;
    color: #ffffff;
    box-shadow: -8px -6px 15px -10px rgba(0, 0, 0, 0.498);/* , inset -13px -14px 7px -4px rgba(255, 255, 255, 0.574); */
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99;
    padding-top: 1em;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    /* width: 24rem; */
    width: 90vw;
    height: 90vh;
    border-radius: 0.5rem;
    background:url('./assets/Blue_loading_circle.gif') center center no-repeat;
}


.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #fff;
    border-color: #868686;
    padding-bottom: .25em;
}

.close-button:hover {
    border-color: #868686;
    background-color: #868686;
    color: #fff;
    
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal content{
    transform: scale(.50);
}
.frame {
    position: relative;
    width: 100%;
    height: 95%;
    overflow: none;
    background-color: #fff;
    
    
}
/* .frameWrap{
    width: auto;
    height: 100%;
    
} */
.trigger{
    z-index: 999;
}