*{
    /* border: 2px solid green; */
    padding: 0px;
}
#container {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
}
#statement {
    display: block;
    position: relative;
    margin: 0px;
    width: 100%;
    bottom: 0px; 
    justify-content: center;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}
