h1 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 46px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

/* body {
    min-width: 950px;
} */

*{
    /* border: 2px solid green; */
    padding: 0px;
}
#container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    top: 0px;
    width: 100%;
    min-width: 950px;
    height: auto;
    background-color:#fff;
}

/* .medManWrap {
   width: fit-content;
}
#medMan{
    width: 150px;
    height: auto;
} */
#statement {
    display: flex;
    position: relative;
    margin: auto;
    width:  750px;
    height: 4em;
    top: 0px; 
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1em;
    color: #5a5959;
    /* background-color:rgb(34, 40, 40); */
    /* background-color:#868686; */
    /* background: rgb(134,134,134);
    background: repeating-linear-gradient( 45deg,
        #868686,
        #868686 5px,
        #465298 5px,
        rgb( 96, 227, 253) 10px
        );
    opacity: .75; */
    /* background: linear-gradient(-180deg, rgba(134,134,134,1) 0%, rgba(255,255,255,0) 100%); */
    /* text-shadow: 2px 2px 5px rgb(10, 10, 10); */
    margin-bottom: .5em;
    padding-bottom: 2em;
    z-index:0;
    overflow-x: scroll;
    overflow-y: none;
    /* border-radius: 0px 40px 0px 40px; */
    /* box-shadow: inset 2px 2px 10px 2px #242527; */
}

.nav{
    /* position: absolute; */
    /* display:  fixed; */
    display: flex;
    
    /* overflow-x: scroll;
    overflow-y: hidden;
    justify-content: center;
    align-items: center; */
    /* height: 10em; */
    background-color:#fff;
    /* padding: 1em 2em; */
    /* margin: 4em 2em;  */
    /* margin-bottom: 2em; */
    z-index: 950;
    /* border: 1px solid blue; */
    
}
.button-box {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    height: 10em;
    background-color:#fff;
    padding: 1em 2em;
    padding-left: 50vw;
}
#nav-filler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5px;
    width: 200px;
    /* border: 1px solid red; */
    color: #868686;
    /* font-size: ; */
    
}
#email-link img{
    float: right;
    width: 40px;
    height: auto;
}
#email-link:hover {
    /* opacity: 0.5; */
    animation: blinker 2s linear infinite;
}
.nav button{
    padding: .5em;
    border-radius: 20px 20px 20px 20px;
    background-color: #fff;
    border: 2px solid #868686; 
    min-width: 400px;
    min-height: 150px;
    margin: .5em;
    color: #868686;
    text-decoration: none;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 19;
}
.buttonSubText {
    font-size: .75em;
}
.nav button:hover{
    background-color:#f9b775;
    color: #ffffff;
    box-shadow: -8px -6px 15px -10px rgba(0, 0, 0, 0.498);/* , inset -13px -14px 7px -4px rgba(255, 255, 255, 0.574); */
    animation: blinker 1s linear infinite;
}
.poweredBy{
    display: flex;
    flex-direction: row;
    width: 50%;
    color: #868686;
    /* padding-top: 2em; */
    border-top: .5px solid #868686;
}
#resumeWrap {
    z-index: 80;
    /* border: 2px dotted blue; */
    overflow: hidden;
    min-height: fit-content;
}
.modal {
    position: fixed;
    /* display: flex; */
    /* flex-direction: column; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 950px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* visibility: hidden; */
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99;
    padding-top: 1em;
    /* border: 2px dotted blue; */
    /* background: url('./assets/Blue_loading_circle.gif') center center no-repeat; */
}
.modalTop{
    background-color: #000;
    color: #fff;
    width: 15%;
    min-width: fit-content;
    position: absolute;
    top: 0;
    margin: auto;
    left: 42.5%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1em 1.5em;
    /* margin-top: 2em; */
    width: 90vw;
    /* height: 80vh; */
    min-width: 750px;
    max-height: fit-content;
    /* border-radius: 0.5rem; */
    border-radius: 0px 40px 0px 40px;
    box-shadow: 10px 10px 10px rgb(34, 40, 40);
    /* background: url('./assets/Blue_loading_circle.gif') center center no-repeat; */

}


.close-button {
    /* float: right; */
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #fff;
    border-color: #868686;
    padding-bottom: .25em;
    /* z-index: 999; */
}

.close-button:hover {
    border-color: #868686;
    background-color: #868686;
    color: #fff;
    
}
.show-modal {
    opacity: 1;
    /* visibility: visible; */
    display: inherit;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.frame-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90vw;
    min-width: fit-content;
    min-height: fit-content;
    overflow: none;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background: url('./assets/Blue_loading_circle.gif') center center no-repeat;
    border-radius: 0px 40px 0px 40px;
}
.infoButton{
    z-index: 999;
    position: absolute;
    right: 0px;
    bottom: 0px;
    justify-content: center;
    margin: auto;
    border: none;
    opacity: .4;
    border-radius: 80% 80%;
    z-index: 999;
    cursor: pointer;
    margin: 5px;
}

.show-infoButton{
    visibility: visible;
}
.infoButton:hover {
    opacity: .8;
    
}   
.infoButton img{
    background-color: rgba(255, 255, 255, 0);
    /* background-color: blue; */
}
.blink {
    animation: blinker 2s linear infinite;
}


@-moz-keyframes blinker {  
    0% { opacity: 0.8; }
    50% { opacity: 0.4; }
    100% { opacity: 0.8; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 0.8; }
    50% { opacity: 0.4; }
    100% { opacity: 0.8; }
}

@keyframes blinker {  
    0% { opacity: 0.8; }
    50% { opacity: 0.4; }
    100% { opacity: 0.8; }
}
/* .trigger{ 
    z-index: 998; 
} */
/*************
Info Modal
*****************/
/* #modal {
    
} */
#infoModal.active {
    opacity: 1;
    transform: translateY(0)
}
.infoModal {
    position: relative;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    /* background-color: rgba(186, 243, 222, 0.5); */
    opacity: 1;
    visibility: hidden;
    /* transform: scale(1.1); */
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 995;
    padding-top: 1em;
    display: hidden;
    overflow: scroll;
    /* ------- */
    transition: all .3s ease-in-out;
    opacity: 0;
    transform: translateY(-100%)
}
.infoContent{
    padding-bottom: 2em;
}
.closeWrapper{
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
}
.infoModal-content {
    /* position: absolute; */
    width: 90vw;
    height: 90vh;
    border-radius: 0.5rem;
    overflow: scroll;
}

.infoClose-button {
    position: absolute;
    top: 1.5em; 
    left: 14em; 
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 80%;
    padding: .25rem;
    color: #fff;
    background-color:#9f9f9f;
    border: 2px solid #868686;
    box-shadow: 1px 1px 5px 1px rgb(96, 96, 96);
}

.infoClose-button:hover {
    border-color: #000;
    background-color: #868686;
    color: #000;   
}

.show-infoModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.infoModalContent{
    /* transform: scale(.50); */
}
.actualInfo{
        
        /* position: relative; */
        width: 60vw;
        height: 60vh;
        margin: auto;
        top: 10%;
        border: .5em dashed rgb(96, 227, 253); 
        z-index: 1001;
        overflow: scroll;
        background-color: rgba(255, 255, 255, 0.93); 
        color: #4c4c4c;
        border-radius: 0px 40px 0px 40px;
        padding: 1em;
        box-shadow: 2px 2px 20px 5px rgb(129, 149, 195);
    }
/* .format{
    display: flex;
    flex-direction: row;
} */
.actualInfo h1,h2,h3,p{
    text-align: center;
}

.infoHeader h1{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(96, 227, 253);
    /* -webkit-text-stroke: 1px rgb(96, 227, 253); */
} 
.infoHeader h2{
    /* color: rgb(255, 255, 255); */
    /* -webkit-text-stroke: 1px rgb(81, 81, 81); */
    text-shadow: 1px 1px  rgb(81, 81, 81);
    /* background-color: #fff; */
    width:100%;
} 
.infoHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */
    /* top: 0; */
    padding-top: -2em;
    padding-bottom: 1em;
    height: fit-content;
    width: 100%;
    border-radius: 0px 40px 0px 0px;
    background-color:rgb(218, 246, 251);
    background: linear-gradient(-180deg, rgba(199,255,250,0.9304315476190477) 0%, rgba(255,255,255,0) 100%);
    border: 2px solid rgb(96, 227, 253); 
    /* box-shadow: 2px 2px 10px 5px rgba(119, 126, 142, 0.485); */
    align-items:center;
    border-bottom: 0;
}
h3{
    color:rgb(0, 0, 0);
}
ol{
    margin: auto;
    padding: 5px;
    width: 70%;
}

 a{
    text-decoration: none;
    color:#868686;
}
a:hover{
    text-decoration: underline;
}
li{
    text-align: center;
    padding: 5px;
}
#description{
    margin: auto;
    width: 70%;
}